#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
  font-weight: 550;
}

button:hover{
  animation-name: select;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;

}

@keyframes select{
  0%{
    font-size: 18px;
    padding: 16px 24px;
  }
  100%{
    padding: 22px 30px;
    font-size: 20px;
    
  }
}

